.ant-image{
    text-align: center;
    text-align: -webkit-center;
    vertical-align: middle;
}
.nft-holder{
    padding-bottom: 100px;
}
.audio-lists-panel-header-title{
    color: white;
}
.true-sound *{
    color: white !important;
}
@media (min-width: 720px) {
    .nft-holder{
        min-width: 1000px;
    }
}
@media (max-width: 480px) {
    .nft-holder .ant-card-cover{
        padding: 15px;
    }
    .nft-holder .ant-card-body{
        padding: 0 !important;
        padding-bottom: 15px !important;
    }
    .nft-holder .ant-card-actions{
        margin: 0px 60px;
    }
    .ant-card-meta-detail{
        text-align: center;
    }
    .chainSelect{
        display: none;
    }
}